@import '@/globals.scss';
.container {
  background-color: var(--color-primary);
  padding: 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  // every other odd container will have a different background color
  &:nth-child(odd) {
    background-color: var(--color-primary800);
  }
  .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    .type {
      font-size: 1.5rem;
      font-weight: 700;
    }
    .total{
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
  .count{
    display: flex;
    justify-content: flex-end;
  }
}
