.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .contentContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}
